In [1]:
import pandas as pd
import numpy as np
import string
import re
import matplotlib.pyplot as plt
from datetime import datetime
import time
import seaborn as sns
from sklearn.metrics import mean_squared_error

In [2]:
data_bert = pd.read_json('/Users/yuhanqi/MA/code/data/transformer/512/2019_cleaned_bert_512_prediction.json')

In [3]:
data_albert = pd.read_json('/Users/yuhanqi/MA/code/data/transformer/512/2019_cleaned_albert_512_prediction.json')

In [4]:
data_bert['stars_albert_512'] = data_albert['stars_albert_512']

In [5]:
data_distilbert = pd.read_json('/Users/yuhanqi/MA/code/data/transformer/512/2019_cleaned_distilbert_512_prediction.json')

In [6]:
data_bert['stars_distilbert_512'] = data_distilbert['stars_distilbert_512']

In [8]:
data_xlnet = pd.read_json('/Users/yuhanqi/MA/code/data/transformer/512/2019_cleaned_xlnet_512_prediction.json')

In [9]:
data_bert['stars_xlnet_512'] = data_xlnet['stars_xlnet_512']

In [10]:
data_roberta = pd.read_json('/Users/yuhanqi/MA/code/data/transformer/512/2019_cleaned_roberta_512_prediction.json')

In [11]:
data_bert['stars_roberta_512'] = data_roberta['stars_roberta_512']

In [12]:
data_bert.head(1)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,restaurant,...,average_stars,review_count,categories,year,cleaned_text,stars_bert_512,stars_albert_512,stars_distilbert_512,stars_xlnet_512,stars_roberta_512
48,WglA0BSYvc3WBP4I2WpRwA,1_sws6Q8TiR21CzzNvxUiw,XQfwVwDr-v0ZS3_CbbE5Xw,5,0,0,0,I've been here now twice for brunch and the fo...,2019-04-15 01:20:23,Turning Point of North Wales,...,3.0,169,"Restaurants, Breakfast & Brunch, Food, Juice B...",2019,I 've be here now twice for brunch and the foo...,5,5,5,5,5

In [13]:
data_bert.to_json('/Users/yuhanqi/MA/code/data/transformer/512/2019_cleaned_transformer_512_prediction.json')